* {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: '微软雅黑';
	vertical-align: text-bottom;
}

li {
	list-style: none;

}

a {
	text-decoration: none;
}

.clearfix:after {
	content: " ";
	display: block;
	clear: both;
	height: 0;

}

.clearfix {
	zoom: 1;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.font16 {
	font-size: 16px;
}

.font15 {
	font-size: 15px;
}

.font18 {
	font-size: 18px;
}


.text-ellipsis{
overflow: hidden;/*内容超出后隐藏*/
text-overflow: ellipsis;/* 超出内容显示为省略号*/
white-space: nowrap;/*文本不进行换行*/
}

	.textIndent2{
		text-indent:2em;
	}
